.mainmenubtn {
    background-color:#ffffff;
    color: black;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
}
.mainmenubtn:hover {
    background-color: white;
    }
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: white;
}
.dropdown-child a {
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}

.btn_social { 

	width:100%; 
	float:left; 
	display:flex; 
	margin:auto; 
}

.btn_social ul  { 

	width:auto; 
	margin:auto; 
	float:left; 
	display:block; 
}

.btn_social ul li  { 

	position:relative; 
	background:#555555; 
	list-style:none; 
	float:left; 
	margin:5px; 
	z-index:1; 
	overflow:hidden; 
	border-radius:3px; 
	font-size:1.5em; 
	text-align:center; 
}

.btn_social ul li a  { 

	width:50px; 
	height:50px; 
	line-height:53px; 
	display:block; 
	text-decoration:none; 
	color:#fff; 
	transition:.4s;

}

.btn_social ul li::before { 

	transition:0.4s; 
	position:absolute; 
	content:''; 
	width:100%; 
	height:100%; 
	top:90%; 
	left:0; 
	background:#2fcacf; 
	z-index:-1; 
	transform: scale(1); 
	transition:.4s; 
}

.btn_social ul li:hover::before { transition:0.4s; top:0%; }
.btn_social ul li a:hover       { color:#555555; }